@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.header {
    width: 80vw;
    height: 8vh;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(158, 7, 7);
    cursor: pointer;
}

.navLink {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: rgb(35, 16, 146);
    padding: 5px 30px;
    border-radius: 30px;
    border: none;
    color: white;
}

.navList {
    display: flex;
    gap: 10px;
}